<div class="container">
  <mat-card>
    <form #userForm="ngForm" (ngSubmit)="submit(userForm)">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput [(ngModel)]="user.email" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
          <mat-hint *ngIf="submitted && email.errors && email.errors['required']" >Email is required</mat-hint>
          <mat-hint *ngIf="email.errors && email.errors['patter']" >Email is invalid</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput required #pwd="ngModel" [(ngModel)]="user.password" name="password" pattern="[^ ].{3,}">
          <mat-hint *ngIf="pwd.errors && pwd.errors['pattern']" >invalid password</mat-hint>
          <mat-hint *ngIf="submitted && pwd.errors && pwd.errors['required']" >Password is required</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer>
        <button type="submit" class="login-btn" mat-raised-button color="primary">Login</button>
        <button type="button" class="cancel-btn" (click)="clear(userForm)" mat-raised-button color="warn">Cancel</button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
